*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkslateblue;
}

header nav ul li a {
    text-decoration: none;
    color: darkslateblue;
    font-family: 'Roboto Condensed', sans-serif;
}
header nav ul li {
    list-style-type: none;
    display: inline;
    flex: auto;
    margin: 20px;
    padding: 20px
    }
header nav ul{
    margin: 40px 0px;
    float: right;
}
header nav{
    background-color: whitesmoke;
    height: 90px;
    width: 100%;

}
.header-sticky{
    position: sticky;
    top: 0;
    z-index: 9999;
}
.fondo {
    background-image: url(../assets/imagenes/puerto.jpg);
    width: 100%;
    height: 100%;
    padding: 100px 0px 250px 0px;
    }
#titulo-principal{
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    
}

#titulo-principal{
    animation: efecto-derecha 1.5s ease;
}

/* creo animacion*/
    @keyframes efecto-derecha {
        0%{ 
            opacity: 0;
            transform:translateX(80px) 
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        } 
    
    }




#slogan{
    background-color: silver;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 30px;
}
h2{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px;
}

.quienes-somos {
    display: flex;
    padding: 25px;
    
}  

.presentacion p {
    color:white;
    text-align: left;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;

}

.mujeres div {
        display: inline-block;
        width: 33%;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        
        
    
    }   
    .mujeres {
        background-color: silver;
        padding-bottom: 50px;
        
    }
.mujeres img{
    padding: 10px;

}
.mujeres p{
    text-align: center;
}

.servicios {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
    width: 30%;
    padding: 10px;
      
}

.servicios div img{
    border-radius: 50%;
    
}
.servicios div p {
    padding-top: 30px;
}

.servicios div {
    padding: 0px 100px 10px 100px;
    
}
.operacion div {
    padding: 20px;
    text-align: center;
}
.operacion img {
    border-radius: 10%;
    text-align: center;
}

.operacion div p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;

}

.operacion div ul li {
    color: darkslateblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    background-color: silver;
    border-radius: 10%;
}

.socios img{
    padding: 50px;
    text-align: center;
    }

.socios{
        background-color: silver;
    }



/*Forumulario*/

form div{
    text-align: right;
    padding: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    font-size: larger;

} 

.contacto {
    display: flex;
    padding: 20px;
    padding-bottom: 30px;
    

}

.contacto iframe{
    width: 50%;
    padding: 20px;

}
.contacto form{
    width: 50%;
    padding: 20px;
    padding-right: 100px;
   }

footer{
    background-color: silver;
    font-family: 'Roboto Condensed', sans-serif;
    color: darkslateblue;
    position: sticky;
    width: 100%;
    bottom: 0%;
    height: 90px;

        
}


footer div {
    text-align: center;
    padding: 10px 50px 10px 10px;
}

