/*Formulario*/
  
form {
  width: 80%;
  border: 4px;
  border-style: dotted;
  border-color:white;
  text-align: center;
  color: darkslateblue;
  padding: 20px;
  margin-left: 10px;
    }

  iframe{
      padding: 20px;
      width: 100%;
      
    }
.iframe-datos{
  padding: 20px;
 color: white;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
