
  .index{ 
    background-color: white
  }

  .display-1{
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  
  .h5-index{
    font-size: large;
  }

 


 
  