.servicios {
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslateblue;
    width: 30%;
    animation: efecto-abajo 1.5s ease;
}