.servicios {
    text-align: center;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    
    
    img{
        border: 12px;
        border-style: double;
        border-color: whitesmoke;
    }
    p{padding: 10px;
        
    
    }
}

