.operacion div {
    padding: 20px;
    text-align: center;
  }
  .operacion img {
    border-radius: 5%;
    text-align: center;
    animation: efecto-abajo 1.5s ease;
  }
  
  .operacion div p {
    text-align: center;
    color: white;
    font-size: 25px;
  }
  
  .socios {
    background-color: silver;
  }

  #carousel-operacion{
    img{
      max-width: 200px;
      max-height: auto;
      align-items: center;
      
    }
  }

  #carousel-socios{
    img{
      max-width: 300px;
      max-height: 200px;
          }
  }

 